<!-- controls -->
<button class="btn btn-secondary mr-3 my-1" (click)="addBlankElement()">Add Element</button>
<button class="btn btn-danger mr-3 my-1" (click)="init()">Reset Form</button>
<button class="btn btn-primary my-1" (click)="submitForm()">
  Submit
</button>
<!-- a friendly message -->
<div class="alert alert-secondary my-3" role="alert">
  Please configure your page elements now!
  <strong>Note: </strong> You can drag elements to reorder them!
</div>  

<!-- page element listing and editor -->
<div class="row">

  <!-- listing -->
  <div class="col-5" cdkDropList (cdkDropListDropped)="reorderElements($event)">
    <!-- NOTE - does the drag-drop click interfere with the nav to element click? -->
    <div *ngFor="let element of elements.controls; let i = index;" cdkDrag>
      <div class="card my-1 selectable" (click)="navToElement(i)"
      [ngClass]="{'selected': i == showElement}">
        <div class="card-body">
          {{ i + 1 }}. <em>{{ getPreview(element.get('elementText').value) }}</em> <span class="invalid-element" *ngIf="elementIsInvalid(element)"> (invalid)</span>
        </div>
      </div>
    </div>
  </div>

  <!-- editor -->
  <div class="col-7" *ngIf="selectedElement">
    <page-element-editor [element]="selectedElement" (deleteRequest)="deleteElement(showElement)"></page-element-editor>
  </div>

</div>

<!-- just for info -->
<div class="card mt-5">
  <div class="card-body">
    <h2>Form Value</h2>
    <pre class="m-5">
{{ formValueAsString }}
    </pre>
  </div>
</div>