<div class="card">
  <div class="card-body">

    <div [formGroup]="element">
      <!-- element type -->
      <div class="form-group">
        <label for="">Element type</label>
        <select class="form-control" formControlName="elementType"
        [ngClass]="{'is-invalid': element.get('elementType').touched && element.get('elementType').errors}">
        <option [value]="elementType" *ngFor="let elementType of elementTypes">{{ elementType }}</option>
        </select>
        <!-- validation -->
        <div class="invalid-feedback" *ngIf="element.get('elementType').hasError('required') &&element.get('elementType').touched">
          Element type is required.
        </div>
      </div>
  
      <!-- element text -->
      <div class="form-group" *ngIf="elementType != 'Prebuilt content'">
        <label for="">Element text</label>
        <input type="text" formControlName="elementText" class="form-control"
        [ngClass]="{'is-invalid': element.get('elementText').touched && element.get('elementText').errors}">
        <!-- validation -->
        <div class="invalid-feedback" *ngIf="element.get('elementText').hasError('required') && element.get('elementText').touched">
          Element text is required.
        </div>
        <div class="invalid-feedback" *ngIf="element.get('elementText').hasError('minlength') && element.get('elementText').touched">
          Element text must be at least 5 characters long.
        </div>
      </div>

      <!-- element text, for predefined content items -->
      <div class="form-group" *ngIf="elementType == 'Prebuilt content'">
        <label for="">Element text</label>
        <select class="form-control" formControlName="elementText"
        [ngClass]="{'is-invalid': element.get('elementText').touched && element.get('elementText').errors}">
        <option [value]="elementText" *ngFor="let elementText of contentDataStore">{{ elementText.substring(0, 50) + '...' }}</option>
        </select>
      </div>

      <!-- for visualization items -->
      <div class="form-group" *ngIf="elementType == 'Univariate visualization' || elementType == 'Bivariate visualization'">
        <label for="">Variable One</label>
        <select class="form-control" formControlName="elementVisualizationVariableOne"
        [ngClass]="{'is-invalid': element.get('elementVisualizationVariableOne').touched && element.hasError('variableOneMissing')}">
        <option [value]="elementVisualizationVariableOne" *ngFor="let elementVisualizationVariableOne of variables">{{ elementVisualizationVariableOne }}</option>
        </select>
        <div class="invalid-feedback" *ngIf="element.hasError('variableOneMissing') 
        && element.get('elementVisualizationVariableOne').touched">
        Variable One Required.    
        </div>
      </div>
      <div class="form-group" *ngIf="elementType == 'Bivariate visualization'">
        <label for="">Variable Two</label>
        <select class="form-control" formControlName="elementVisualizationVariableTwo"
        [ngClass]="{'is-invalid': element.get('elementVisualizationVariableTwo').touched && element.hasError('variableTwoMissing')}">
        <option [value]="elementVisualizationVariableTwo" *ngFor="let elementVisualizationVariableTwo of variables">{{ elementVisualizationVariableTwo }}</option>
        </select>
        <div class="invalid-feedback" *ngIf="element.hasError('variableTwoMissing') 
        && element.get('elementVisualizationVariableTwo').touched">
        Variable Two Required.    
        </div>
      </div>
    </div>


  
    <!-- buttons -->
    <button class="btn btn-danger mr-3 my-1" (click)="makeDeleteRequest()">Delete Element</button>
    <button class="btn btn-primary my-1" (click)="addRule()">Add Rule</button>

    <!-- rules -->
    <!-- // TODO extract to own component? -->
    <div class="my-3" *ngIf="rules.length > 0">
      <h4 class="my-3">Element Rules</h4>
      <div *ngFor="let rule of rules.controls; let i = index" [formGroup]="rule">
        <div class="form-inline">
          <!-- the variable -->
          <select type="text" formControlName="variable" class="form-control mw-30 mr-1"
          [ngClass]="{'is-invalid': rule.get('variable').touched && rule.get('variable').errors}">
          <option [value]="variable" *ngFor="let variable of variables">{{ variable }}</option>
          </select>
          <!-- the operator -->
          <select type="text" formControlName="operator" class="form-control mw-30 mr-1"
          [ngClass]="{'is-invalid': rule.get('operator').touched && rule.get('operator').errors}">
          <option [value]="operator" *ngFor="let operator of operators">{{ operator }}</option>
          </select>
          <!-- the score -->
          <input type="text" formControlName="keyScore" class="form-control mw-30"
          [ngClass]="{'is-invalid': rule.get('keyScore').touched && rule.get('keyScore').errors}">
        </div>
        <button class="btn btn-danger my-2" (click)="deleteRule(i)">Delete Rule</button>
      </div>
    </div>

  </div>
</div>